# Comments & Basic Data Types

In [1]:
# this is comment

In [2]:
print("Hello") #this is a comment too

Hello

In [3]:
#the following are all integers
print(2)
print(3)

2
3

In [4]:
#the following are all floats
print(10.953)
print(8.0) # this is a float too

10.953
8.0

In [5]:
#the following are booleans
print(True)
print(False)

True
False

In [6]:
#the following are strings
print(" ")
print("There's a snake in my boot!")
print("True")

There's a snake in my boot!
True

In [9]:
#Exercise 1
print("Zack")
print(type(int))

Zack
<class 'type'>

# Variables

In [10]:
Sport = "Baseball"
print(Sport)

Baseball

In [11]:
num1 = 5
num2 = 8.4
print(num1,num2)

5 8.4

In [12]:
# storing a boolean in a variable
switch = True
print(switch)

True

In [13]:
# storing strings into variables
name = "John Smith"
fav_number = "9"
print(name,fav_number)

John Smith 9

In [14]:
# Using two variables to create another variable 
result = num1 + num2
print(result)

13.4

In [15]:
#adding, deleting, multiplyinh, dividing from a variable 
result += 1
print(result)
result *= num1
print(result)

14.4
72.0

In [16]:
# defining a variable and overwriting it's value
name = "John"
print(name)
name = "Sam"
print(name)

John
Sam

In [19]:
#Execerise 2
x = 3
y = 10
result = x+y
print("{} + {} = {}".format(x,y,result))

# area of a rectangle
wid = 245.54
height = 13.66
print("The area is {}".format(wid*height))

3 + 10 = 13
The area is 3354.0764

# Working with Strings

In [20]:
#using the addition operator without variables
name = "John" + " "+"Smith"
print(name)

John Smith

In [21]:
#using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " "+last_name
print(full_name)

John Smith

In [22]:
# injecting variables using the format method
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name,28))

Hello John
Hello John, you are 28 years old!

In [23]:
#Using the new f strings
name = "john"
print(f"Hello {name}")

Hello john

In [25]:
#using indexes to print each element
word = "Hello"

print(word[0])
print(word[1])
print(word[-1])

#String slicing 

print(word[:2])
print(word[0:5:2])

H
e
o
He
Hlo

In [27]:
#Execerise 3

print("{} , {} , {} , {}".format(3,3.4,True,"Hi"))

print("{}'s favorite sport is {}".format("Bill","football"))
print("{} is working on {} programming!!".format("Ted","python"))

3 , 3.4 , True , Hi
Bill's favorite sport is football
Ted is working on python programming!!

# Manipulating Strings

In [28]:
#using the title method to capitalize a string
name = "john smith"
print(name.title())

John Smith

In [29]:
# replacing an exclamation point with a period 
words = "Hello there!"
print(words.replace("!","."))

Hello there.

In [30]:
# finding the starting index of our searched term
s = "look over that way"
print(s.find("over"))

5

In [31]:
# removing white space with strip
name = "    john    "
print(name.strip())

john

In [32]:
# converting a string into a list words
s = "These words are separated by spaces"
print(s.split(" "))

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [33]:
#Execerise 4

print("uppercase".upper())


print("$$John Smith".lstrip("$"))

UPPERCASE
John Smith

# Friday Project: Printing Receipts.

In [45]:
# create a product and price for three items

p1_name,p1_price = "Books",49.95
p2_name,p2_price = "Computer",579.99
p3_name,p3_price = "Monitor",124.89
# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"
# declare ending message
message = "Thanks for shopping with us today!"


# create a top border
print("*" * 50)


#print company info first, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))
#create a line between sections
print("="* 50)
# print out header for section of items
print("\tProduct Name\tProduct")

#create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(),p1_price))
print("\t{}\t${}".format(p2_name.title(),p2_price))
print("\t{}\t\t${}".format(p3_name.title(),p3_price))

#print a line between sections
print("="*50)

# print out header for section of total
print("\t\t\tTotal")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))

# print a line between sections
print("="*50)

#output thank you message 
print("\n\t{}\n".format(message))

# create a bottom border
print("*"*50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************